* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1000px;
    height: 1000px;
    margin: 0 auto
}

.row {
    height: 402px;
    width: 910px;
}

.second {
    position: relative;
    top: 20px;
}
.img {
    display: inline-block;
    height: 400px;
    width: 300px;
    background-color: azure;
    position: relative;
    }

.sconto{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.trenta {
    background-color: green;
}

.cinque {
    background-color: red;
}

.one {
    background-image: url(https://asset.mediaw.it/wcsstore/MMCatalogAssetStore/asset/images/12/78/127811.jpg);
    background-size: cover;
    background-position: center center;
}

.two {
    background-image: url(https://www.puro.it/media/catalog/product/cache/1/thumbnail/960x/17f82f742ffe127f42dca9de82fb58b1/a/u/auricolari-bluetooth-magnet-pod-black-puro_01.jpg);
    background-size: cover;
    background-position: center center;
}

.three {
    background-image: url(https://images.eprice.it/nobrand/0/Lightbox/244/204835244/BA834019-BA6F-4417-9CE0-A745868369CA.jpg);
    background-size: cover;
    background-position: center center;
}

.four {
    background-image: url(https://www.asustore.it/6344-thickbox_default/accessori-asus-asus-rog-claymore-tastiera-gaming-meccanica-rogclaymorema01-asus-store.jpg);
    background-size: cover;
    background-position: center center;
}

.five {
    background-image: url(https://asset.mediaw.it/wcsstore/MMCatalogAssetStore/asset/images/11/32/113288_3.jpg);
    background-size: cover;
    background-position: center center;
}

.six {
    background-image: url(https://www.mdwebstore.it/4468-large_default/cuffie-da-gaming.jpg);
    background-size: cover;
    background-position: center center;
}
